.flex-row{
  display: flex;
}

.flex-col{
  display: flex;
  flex-direction: column;
}
.align-center{
  align-items: center;
}
.justify-center{
  justify-content: center;
}
.justify-between{
  justify-content: space-between;
}

.width-40{
  width:40%;
}